.educationDetails{
  padding: 20px;
  
  margin:20px 0px 20px;
}
.heading{
    color:purple;
    text-decoration: underline;
    font-size: 2.0rem;
    font-family: 'Otomanopee One', sans-serif;
}
.para{ 
  margin-top:30px;
  font-size: 1.4rem;
  font-style: italic;
}